.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
  display: inline-block;
  cursor: pointer;
}

.dd-button:hover {
  background-color: #eeeeee;
}

.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.dd-input + .dd-menu {
  display: none;
}

.dd-input:checked + .dd-menu {
  display: block;
}

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.dd-menu li a {
  display: block;
  margin: -10px -20px;
  padding: 10px 20px;
}

.dd-menu li.divider {
  padding: 0;
  border-bottom: 1px solid #cccccc;
}

.small-font {
  font-size: 12px;
}
.medium-font {
  font-size: 16px;
}
.large-font {
  font-size: 20px;
}

.helvetic-font {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.times-new-roman-font {
  font-family: 'Times New Roman', Times, serif;
}

.arial-font {
  font-family: Arial, Helvetica, sans-serif;
}



.dropdown-selected {
  background: #dde5ea;
  border-radius: 4px 4px 0px 0px;
  font-size: 12px;
  color: #2a228e;
}

/* not selected color: #4F5E64 */

.dropdown-container {
  background: #ffffff;
  border: 1px solid #dde5ea;
  box-sizing: border-box;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
