.sorting-results {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;

  select {
    cursor: pointer;
    font-weight: bold;
    border: none;
    background: #f2f4f4;
  }
}

/* list of documents */
.list-of-documents {
  background: #ffffff;
  border: 1px solid #dde5ea;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.list-top-doc {
  max-width: 1440px;
  padding: 20px 10%;
  background: #fafafa;
  border-radius: 3px 3px 0px 0px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;

  &:hover {
    cursor: pointer;
  }
}

.meta-text {
  display: flex;
  padding-top: 6px;
  margin-left: 5px;

  & * {
    padding-right: 20px;
    font-size: 14px;
    color: #757575;
  }
}

// carousel
.carousel * {
  background: #ffffff;
}

// passage-text
.passage-text {
  height: 200px;
  padding: 0 10%;
  &:hover {
    cursor: pointer;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(transparent 150px, white);
  }
}

.no-results {
  margin-top: 30px;
  background: #ffffff;
  text-align: center;
  padding: 50px 0;
  border-radius: 8px;
  font-size: 16px;
}
