// https://codepen.io/raneio/pen/NbbZEM

.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
  display: inline-block;
  cursor: pointer;
  padding: 8px;

  &:hover {
    background-color: #dde5ea;
    border-radius: 4px;
  }
}

.dd-input {
  display: none;
  & + .dd-menu {
    display: none;
  }

  &:checked + .dd-menu {
    display: block;
  }
}

.dd-menu {
  width: 360px;
  position: absolute;
  border: 1px solid#dde5ea;
  border-radius: 4px;
  padding: 0;
  margin: 2px 0 0 0;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  list-style-type: none;
  z-index: 999;

  .dd-title {
    cursor: default;
    &:hover {
      background: none;
    }
  }

  li {
    padding: 10px 20px;
    white-space: nowrap;
  }

  .divider {
    padding: 0;
    border-bottom: 1px solid #cccccc;
  }

  .dd-select-fonts {
    display: flex;

    p {
      padding: 10px;
      margin: 5px;
      border: 1px solid#dde5ea;
      border-radius: 4px;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background-color: #f6f6f6;
      }
    }

    input {
      display: none;

      &:checked + p {
        background-color: #f6f6f6;
        color: #2a228e;
      }
    }
  }

  .dd-select-family {
    display: flex;
    padding: 30px 20px;

    label {
      width: 100%;
      display: flex;
      margin-right: 10px;
      cursor: pointer;
    }

    p {
      padding-left: 10px;
    }
  }
}

// font size
.small-font {
  font-size: 12px;
}
.medium-font {
  font-size: 16px;
}
.large-font {
  font-size: 20px;
}

// font color
.helvetic-font {
  font-family: "Helvetica", "Arial", sans-serif;
}

.times-new-roman-font {
  font-family: "Times New Roman", Times, serif;
}

.arial-font {
  font-family: Arial, Helvetica, sans-serif;
}
