.header-link {
  text-decoration: none;
}

.header-container {
  text-align: center;
  padding: 10px;
  background: $primaryBackgroundWhite;
  box-shadow: 0px 2px 8px rgba(79, 94, 100, 0.1);

  position: relative;
  .previous-button {
    position: absolute;
    left: 60px;
    padding: 5px 10px 5px 25px;

    &::before {
      content: "";
      background: url("../icons/arrow.svg");
      background-repeat: no-repeat;
      position: absolute;
      top: 6px;
      right: 5px;
      bottom: 0;
      left: 5px;
    }
  }
}
