.search-bar form {
  display: flex;

  .search-input,
  .select-dropdown,
  .search-submit-icon {
    height: 40px;
  }

  // textarea
  .search-input {
    width: calc(70% - 45px);
    background: #ffffff;
    border: 1.5px solid #dde5ea;
    border-radius: 8px 0 0 8px;
    font-size: 16px;
    color: #444444;
    padding: 10px;
    overflow: hidden;

    &:focus {
      outline: none;
    }
  }

  // select
  .select-dropdown {
    width: 30%;
    background: #fafafa;
    border-radius: 0;
    font-size: 16px;
    color: #4f5e64;
    padding: 10px 0px 10px 10px;

  }

  // icon
  .search-submit-icon {
    background: #2a228e;
    border-radius: 0px 8px 8px 0px;
    width: 45px;
    padding: 7px;
    margin: 0;
    position: absolute;
  }

  .search-submit {
    display: none;
  }
}
