.user-controls {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  padding: 10px 0;

  .left-controls {
    display: flex;
    align-items: center;
    margin-left: 50px;

    .citation-button,
    .dropdown-button,
    .vr {
      height: 30px;
      margin-left: 10px;
    }

    .citation-button button {
      height: 30px;
      display: flex;
      align-items: center;
      border: none;
      background: #ffffff;

      &:hover {
        background: #dde5ea;
        border-radius: 4px;
      }

      & img {
        padding-right: 6px;
      }
    }

    .dropdown-button {
      display: flex;
      align-items: center;
    }
  }

  .navigate-results {
    display: flex;
    align-items: center;
    margin-right: 50px;

    & * {
      margin-right: 20px;
    }

    .previous-button::before,
    .next-button::before {
      content: "";
      background: url("../icons/arrow.svg");
      background-repeat: no-repeat;
      position: absolute;
      top: 6px;
      right: 5px;
      bottom: 0;
      left: 5px;
    }

    .previous-button,
    .next-button {
      position: relative;
      font-weight: bold;
    }

    .previous-button {
      padding: 5px 10px 5px 25px;
    }
    .next-button {
      padding: 5px 25px 5px 10px;
    }
    // https://stackoverflow.com/questions/5768998/how-to-flip-background-image-using-css
    .next-button::before {
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
    }
  }

  .vr {
    height: 16px;
  }
}

.single-top-doc {
  margin-top: 30px;
  text-align: center;
  background: #fafafa;
  padding: 30px 0;

  h2 {
    font-size: 18px;
    color: #1a1a1a;
  }

  p {
    font-size: 14px;
    color: #757575;
  }

  & * {
    margin: 20px 0;
  }
}

.single-passages {
  position: relative;
  background: #ffffff;
  border-radius: 8px;
  padding-bottom: 60px;

  .single-passages-content {
    padding: 60px 80px 0 80px;
  }
  .show-full-title {
    border: 1px solid #dde5ea;
    padding: 5px 40px;
    border-radius: 50px;
    top: -15px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;

    &:focus {
      outline: none;
    }
  }
}
