// variables
$primaryAccentBlue: #ff1654;
$primaryBlack: #0f0f0f;
$primaryWhite: #ffffff;

// background colors
$primaryBackgroundBlack: #171b0e;
$primaryBackgroundGrey: #f2f4f4;
$primaryBackgroundWhite: #ffffff;

