body {
  background-color: #f2f4f4;
}

.wrapper {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
}

.header-link {
  text-decoration: none;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  color: #000000;
  text-transform: uppercase;
}

.header-container {
  text-align: center;
  padding: 10px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(79, 94, 100, 0.1);
}

.select {
  background: #dde5ea;
  border-radius: 4px 4px 0px 0px;
  font-size: 12px;
  color: #2a228e;
}

/* not selected color: #4F5E64 */

.select-box {
  background: #ffffff;
  border: 1px solid #dde5ea;
  box-sizing: border-box;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* heading text */
.heading-text {
  font-weight: bold;
  font-size: 16px;
  color: #1a1a1a;
}
.metadata {
  font-size: 12px;
  color: #757575;
}
.passage-count {
  font-size: 12px;
  color: #3f5e64;
}

/* Loading Animation */
@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.loading-skeleton {
  animation: loading 3s infinite ease;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.loading-skeleton .backgrond {
  background: #fafafa;
  border-radius: 3px 3px 0px 0px;
}

.loading-skeleton .one {
  background: #c0cbd1;
  opacity: 0.6;
  border-radius: 20px;
  height: 11px;
}
.loading-skeleton .two {
  background: #e7eded;
  opacity: 0.9;
  border-radius: 6px;
  height: 8px;
}
.loading-skeleton .three {
  background: #1a1a1a;
  opacity: 0.05;
  border-radius: 2px;
  height: 6px;
}

/* Search bar */
.search-bar {
  display: flex;
  justify-content: center;
}

.search-input {
  background: #ffffff;
  border-radius: 1.5px solid #dde5ea;
  border-radius: 8px;
  font-size: 14px;
  color: #444444;
}

.search-submit-icon {
  background: #2a228e;
  border-radius: 0px 8px 8px 0px;
  height: 25px;
  width: 30px;
  padding: 4px;
  margin: 0;
  position: absolute;
}

.search-submit {
  display: none;
  height: 25px;
}

.dropdown {
  background: #fafafa;
  height: 25px;
  border-radius: 0;
  font-size: 14px;
  color: #4f5e64;
}

/* single-doc */
.single .title {
  font-size: 18px;
  color: #1a1a1a;
}
.single .metadata {
  font-size: 12px;
  color: #757575;
}

.single .passage {
  font-size: 16px;
  color: #1a1a1a;
}

/* carousel */
.carousel * {
  background: #f2f4f4;
}

.passage-text {
  height: 200px;
}

.passage-text:hover {
  cursor: pointer;
}

.passage-text::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-linear-gradient(
    rgba(242, 244, 244, 0) 0%,
    rgba(242, 244, 244, 1) 100%
  );
  background-image: -moz-linear-gradient(
    rgba(242, 244, 244, 0) 0%,
    rgba(242, 244, 244, 1) 100%
  );
  background-image: -o-linear-gradient(
    rgba(242, 244, 244, 0) 0%,
    rgba(242, 244, 244, 1) 100%
  );
  background-image: linear-gradient(
    rgba(242, 244, 244, 0) 0%,
    rgba(242, 244, 244, 1) 100%
  );
  background-image: -ms-linear-gradient(
    rgba(242, 244, 244, 0) 0%,
    rgba(242, 244, 244, 1) 100%
  );
}

/* list of documents */
.list-of-documents {
  background: #ffffff;
  border: 1px solid #dde5ea;
  border-radius: 4px;
}

.single-passages-content {
  max-width: 600px;
  margin: 18px 0;
}
